.footer {
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  p, a {
    font-size: 17px;
    font-weight: 400;
  }
  a {
    text-decoration: underline;
  }
}